
  .title-name{
    color: yellow;
    text-transform: uppercase;
  }
  .title-name1{
    color: rgb(253, 63, 0);
    text-transform: uppercase;
  }

.progress-height{
  height: 10px;
}
.resume{
  color: #F95C70;
  font-weight: bold;
}
.page-title{
    float: right;
    color : yellow !important;
}

